.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.a {
  text-decoration: none;
}
.ul {
  list-style: none;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.header-nav-list {
}
.heder-nav-item {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.header-contacts {
  font-style: normal;
}
.header-links {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  color: #434455;
}

.title {
  background-color: #2e2f42;
}
.effective {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  color: #ffffff;
}
.title-button {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  color: #ffffff;
}
.title-button {
  background-color: #4d5ae5;
}
.future-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.section-team {
  background-color: #f4f4fd;
}
.section-team-title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}
